@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.fa.fa-search {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.mat-form-field {
    width: 30%;
    position: absolute!important;
    top: 0;
    right: 100px;
    margin-top: 25px;
}

.mat-form-field.mat-focused .mat-form-field-underline span {
    background-color: #0881C1!important;
}

.charge {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    transition: .2s;
    border-radius: 5px;
    width: 100vw;
    height: 100vh;
}

.charge img {
    width: 40px;
    height: 40px;
}

.charge p {
    font-size: 1em;
}

input:disabled {
    opacity: .5;
    cursor: not-allowed!important;
}

.modificar {
    display: block;
    text-decoration: underline;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.alert.rojo {
    padding: 2px 15px;
    color: #fff;
    font-size: .9em;
    cursor: default;
    background-color: rgb(155, 13, 13);
}

.alert.verde {
    padding: 2px 15px;
    color: #fff;
    font-size: .9em;
    cursor: default;
    background-color: #197c06;
}

.alert.negro {
    padding: 2px 15px;
    color: #fff;
    font-size: 1em;
    cursor: default;
    background-color: #111;
}

.rojo {
    color: rgb(155, 13, 13);
    font-size: .9em;
}

.empresa {
    color: #0881C1!important;
    font-size: .9em;
    text-decoration: underline!important;
}

.button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(155, 13, 13);
    cursor: pointer;
}

button:hover {
    background-color: #e4e4e4;
    transition: .5s;
}

.nuevo {
    display: block;
    margin-top: 15px;
    background-color: #0881C1;
    border-radius: 5px;
    color: #fff;
}

.gris {
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;
    color: #111;
    border-radius: 5px;
    margin-left: 10px;
    transition: .5s;
    width: 25px;
}

.gris img {
    width: 100%;
    padding: 2px;
}

.gris:hover {
    background-color: #c5c5c5;
}

.verde {
    color: #197c06;
    font-size: .9em;
    border: 1px solid #197c06;
}

.azul {
    background-color: #0881C1;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
}

h1 span {
    font-size: 1.3em;
    color: #0881C1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}

header nav a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 1.1em;
    color: #111;
    user-select: none;
    animation: slide_top .5s linear forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

header nav a.active {
    letter-spacing: 1px;
    color: #0881C1;
    border-bottom: 2px solid #0881C1;
}

@keyframes slide_top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

header .logo img {
    width: 120px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0881C1;
    clip-path: circle(400px at right 700px);
    z-index: -1;
}

.inicio,
.registro,
.usuario,
.proveedores,
.archivos,
.recInfo {
    position: relative;
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 100px);
    padding-bottom: 50px;
}

.inicio,
.registro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inicio {
    justify-content: center;
}

.inicio h1,
.registro h1 {
    margin-bottom: 100px;
    text-align: center;
}

.proveedores,
.archivos,
.registro {
    padding: 0 100px;
    padding-bottom: 50px;
}

.registro .circle {
    clip-path: circle(400px at left 700px);
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario .box {
    display: flex;
    align-items: center;
    padding: 0px 100px;
    width: 100%;
}

.inicio .login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.registro .register {
    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.inicio .login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio .login h2 {
    margin-bottom: 10px;
    text-align: center;
}

.inicio .login a {
    color: #0881C1;
    text-decoration: none;
}

.inicio .login a:hover {
    color: #0e9be7;
    ;
}

.inicio .login form input {
    width: 70%;
    margin-bottom: 7px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #111;
}

.inicio .login .newVendor {
    color: rgb(37, 37, 37);
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.inicio .login .newVendor:hover {
    color: rgb(0, 0, 0);
}

input[type="submit"],
.submit {
    background-color: rgb(44, 44, 44);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(44, 44, 44);
    transition: .5s;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #111;
    display: block;
    margin-top: 10px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: rgb(19, 19, 19);
}

.usuario .image {
    width: 50%;
}

.usuario .image img {
    width: 50%;
    margin-top: 20px;
}

.usuario .register {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.archivos h1 {
    width: 70%!important;
}

.archivos .register {
    width: 100%;
}

.archivos .register form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagenes {
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    right: 100px;
    display: flex;
    flex-direction: column;
}

.imagenes a {
    display: flex;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}


/* .imagenes a img {
    width: 100%;
    height: 100%;
} */

.imagenes a li {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

.archivos .register .input {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.archivos .register .textarea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.archivos .register .input label,
.archivos .register .textarea label {
    font-weight: 600;
}

.archivos .register .input label,
.archivos .register .input input,
.archivos .register .input select,
.archivos .register .textarea label,
.archivos .register .textarea textarea {
    width: 100%;
    margin-bottom: 5px;
}

.archivos .register .textarea textarea {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    min-width: 100%;
    max-width: 100%;
}

.registro .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.registro .register .boton {
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    width: 48%;
}

.registro .register input,
.registro .register select,
.registro .register textarea,
.usuario .register input,
.usuario .register select,
.usuario .register textarea {
    border: 1px solid #000;
    padding: 5px;
    margin-top: 3px;
    border-radius: 10px;
    outline: none;
}

.registro .register .boton textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 200px;
}

.registro .register label,
.usuario .register label {
    font-weight: 600;
}

.registro .register input,
.registro .register select,
.registro .register textarea,
.usuario .register input,
.usuario .register select,
.usuario .register textarea {
    width: 100%;
    font-weight: 400;
}

.registro .register input[type="submit"] {
    background-color: #0881C1;
    cursor: pointer;
    border: none;
    transition: .5s;
    color: #fff;
}

.usuario .register input[type="submit"] {
    cursor: pointer;
    background-color: rgb(44, 44, 44);
    color: #fff;
    transition: .5s;
}

.usuario .register input[type="submit"]:hover {
    background-color: #000;
}

.recInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recInfo .modal1 {
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 15px rgb(104, 104, 104);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    flex-wrap: wrap;
}

.recInfo .modal1 form {
    width: 100%;
}

.modal1 h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #0881C1;
}

.modal1 form .input {
    margin-bottom: 10px;
}

.modal1 form .input .inputView {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modal1 form .input .inputView input {
    width: 100%;
    outline: none;
    padding: 5px;
}

.modal1 form .input .inputView span {
    display: inline-block;
    width: 100%;
}

.registro .register .boton.eye div {
    position: relative;
}

.modal1 form .input .inputView img {
    width: 20px;
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 2px;
    background-color: #0881C1;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.registro .register .boton img {
    width: 20px;
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 2px;
    background-color: #0881C1;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.registro .register .boton img:hover {
    width: 22px;
}

.modal1 form .input .inputView img:hover {
    transform: scale(1.2);
}

.registro .register input[type="submit"]:hover {
    background-color: #268ec5;
}

.proveedores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proveedores a {
    text-decoration: none;
    color: #111;
}

.proveedores h1,
.archivos h1 {
    width: 100%;
    margin-bottom: 40px;
}

.proveedores .proveedor {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    /*  background-color: rgb(240, 240, 240); */
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: .5s;
    cursor: pointer;
    border-bottom: 10px solid #0881C1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    background-color: #fff;
}

.proveedores .proveedor:hover {
    transform: translateY(-10px);
}

.proveedores .proveedor .text {
    text-align: center;
}

.proveedores .proveedor .text h2 {
    margin-bottom: 10px;
}

.archivos summary {
    font-weight: 600;
    background-color: #0881C1;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
}

.archivos input {
    margin-bottom: 35px;
}

footer {
    color: #111;
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: rgb(34, 34, 34);
    padding: 3px;
    color: rgb(231, 231, 231);
}

footer p {
    font-size: .9em;
}

@media (max-width: 950px) {
    header {
        padding: 10px 50px;
    }
    header nav a {
        margin-bottom: 10px;
    }
    .mat-form-field {
        width: 40%;
        position: absolute!important;
        top: 0;
        right: 50px;
        margin-top: 25px;
    }
    .navigation {
        display: none;
        transition: .5s;
    }
    .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(241, 241, 241);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;
    }
    .toggle {
        transition: .5s;
        position: absolute;
        top: 10px;
        right: 50px;
        width: 45px;
        height: 45px;
        background: #0881C1 url(./assets/img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
        border-radius: 2px;
    }
    .toggle.active {
        background: #0881C1 url(./assets/img/cerrar.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
    }
    .registro {
        padding: 0 50px;
    }
    .registro .register .boton {
        width: 100%;
    }
    .proveedores,
    .archivos {
        padding: 0 50px;
    }
    .inicio .box,
    .usuario .box {
        padding: 10px 50px;
    }
    .imagenes {
        right: 50px;
    }
}

@media (max-width: 650px) {
    * {
        font-size: 12px;
    }
    header {
        padding: 10px 20px;
    }
    h1 {
        font-size: 2.5em;
    }
    .mat-form-field {
        position: relative!important;
        width: 100%;
        text-align: center;
        left: 0;
        margin-bottom: 50px;
    }
    .toggle {
        top: 10px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-size: 25px;
    }
    .toggle.active {
        background-size: 20px;
    }
    .inicio .box,
    .usuario .box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 20px;
    }
    .inicio .box .text {
        width: 80%;
    }
    .inicio .box .text img {
        display: none;
    }
    .inicio .box .login {
        margin-top: 60px;
        width: 100%;
    }
    .inicio .box .login input {
        width: 100%;
    }
    .registro .image,
    .usuario .image {
        width: 100%;
    }
    .registro {
        padding: 0 0px;
    }
    .usuario .image img {
        width: 30%;
        margin-top: 20px;
    }
    .usuario .register {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    .proveedores,
    .archivos {
        padding: 0 20px;
        padding-bottom: 50px;
    }
    .proveedores .proveedor {
        width: 60%;
        height: 200px;
    }
    .imagenes {
        right: 20px;
        top: -30px;
    }
    .archivos .register .input {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    /* .imagenes a {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-bottom: 10px;
    } */
    .circle {
        display: none;
    }
}